version: '3.8'

services:
  db:
    build: ./db
    container_name: db
    ports:
      - "8000:8000"
    volumes:
      - ./db/data:/data
  # persistent volume for database

  api:
    build: ./api
    container_name: api
    ports:
      - "8001:8001"
    depends_on:
      - db

volumes:
  db_data:
