version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15762:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 10

  producer:
    build:
      context: .
      dockerfile: producer/Dockerfile.producer
    depends_on:
      - rabbitmq

  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile.consumer
    depends_on:
      - rabbitmq
